<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{titulo}}
  </h1>

  <h2>
    {{subtitulo}}
  </h2>
  <h3 *ngFor="let horario of listaHorario">

    {{horario.dia}}
    <!-- horario es el objeto, para usar la propiedad se pone . antes de usar dia -->
    <!-- ngFor es de angular para recorrer el arreglo en html -->
    <!-- let es un tipo de dato, puede ser string, objeto, numero  -->
  </h3>
  <h3 *ngFor="let horario1 of lista">
    {{horario1}}
  </h3>
  <!-- Las dos llaves es para pasar variable de mi compomete a mi html  -->
  <!-- Para jalarlo se cierra con dos llaves {{titulo}}  -->

</div>
